#contenedorPrincipal {
    min-height: 72vh;
    width: 80vw;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../assets/img/fondo2.jpeg);
    font-weight: bold;
    color: white;
    align-items: center;
    font-family: 'Press start 2p';



}

#contenedorJuegos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

.cardsCatalogoJuegos {

    width: 10em;
    box-shadow: 0px 0px 5px 0px rebeccapurple;
    background-color: rgba(81, 76, 76, 0.7);
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    margin: 3em 0 3em 0;
    text-align: center;

}


.cardsCatalogoJuegos h2 {

    font-size: 1em;
    margin: 1em;
}


.cardsCatalogoJuegos img {
    aspect-ratio: .7;
    width: 100%;
    border: solid rgb(153, 0, 255) .1em;
    border-radius: 10px;
    object-fit: cover;
}


.cardsCatalogoJuegos button {
    height: 1em;
    aspect-ratio: 1;
    background-color: #494747;
    border-radius: .8em;
    font-size: 2em;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin: auto 0.4em .4em 0.4em;
}

.cardsCatalogoJuegos button:hover {
    background-color: green
}

#cierreDeCompra {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-self: center;
    background-color: #494747bd;
    min-width: auto;
}

& p {
    margin: .2em;
}

& button {
    margin: .2em;
    color: rgb(255, 255, 255);
    background-color: #19910e;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    height: 2em;
    border-radius: 1em;
    font-size: 15px;
}

& button:hover {
    background-color: rgb(107, 0, 128)
}

#reiniciarCompra{
    background-color: rgb(206, 51, 51);

}

#reiniciarCompra:hover {
    background-color: rgb(107, 0, 128)
}

header {

    margin-bottom: 8em;
}

nav {
    position: fixed;
    width: 100%;
}
#carritoDeCompras{
    display: none;
}
