:root {
    --font-size-main: 24px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;

}

& a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.733);

}

& a:hover {
    color: burlywood
}

body {
    display: flex;
    flex-direction: column;
    background-color: #1d1b1b;
    height: auto;
}


header nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 8em;
    min-width: 360px;

}

& div {
    margin-right: 10em;
}


header nav img {
    height: 2rem;
}

#logo {
    height: 8em;
}

header nav div {
    display: flex;
    align-items: center;
    gap: 1em;

}

#contenedorPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    background-image: url(../assets/img/fondo2.jpeg);
    min-height: 73vh;
    width: 80%;
    min-width: 360px;
}

form{
    padding: 50px 55px;
    margin-top: 3em;
    box-shadow: 0 0 20px rgb(153, 0, 255);
    border-radius: 20px;
    max-width: 340px;
    background: rebeccapurple;

}
.inputContact{
    display: flex;
    flex-direction: column;
}

.btnSend{

    cursor: pointer;
}

h2{
    color: aliceblue;
    text-align: center;
    margin-bottom: .4em;
    font-family: 'Press start 2p';
}
label{
    color:aliceblue ;
    margin: .6em 0 1em 0;
    font-family: 'Press start 2p';
    font-size: 10px;

}
input,textarea{
    padding: 10px 25px;
    background-color: rgba(203, 252, 130, 0.788);
    border-radius: 20px;
    margin-bottom: .7em;
    border: 2px solid white;
    color: rgb(0, 0, 0);
}


/* FOOTER */
footer {
    background-color: black;
    height: 8em;
    color: rgba(255, 255, 255, 0.733);
    min-width: 360px;


}
@media screen and (max-width: 375px) {
    form {
        margin-top: 0em;
        margin-bottom: 0em;
    }
}



