:root {
    --font-size-main: 24px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;

}

& a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.733);

}

& a:hover {
    color: burlywood
}

body {
    display: flex;
    flex-direction: column;
    background-color: #1d1b1b;
    min-height: 100vh;
}


header nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 8em;

}

& div {
    margin-right: 10em;
}


header nav img {
    height: 2rem;
}

#logo {
    height: 8em;
}

.contenedorCarrito {

    background-color: black;
    border-radius: 2em;

}

#carritoDeCompras {
    filter: invert(1);

}


header nav div {
    display: flex;
    align-items: center;
    gap: 1em;

}

#gamesCounter {

    background-color: blueviolet;
    border-radius: 100%;
    display: inline-block;
    width: 1em;
    aspect-ratio: 1;
    text-align: center;
    line-height: 1;
    position: absolute;

}


/* FOOTER */
footer {
    background-color: black;
    height: 8em;
    margin-top: auto;
    color: rgba(255, 255, 255, 0.733);

}

@assets screen and (min-width: 375px) {

    .contenedorCarrito {
        margin-left: 8em;
        position: fixed;
        border-radius: 2em;

    }

    header nav {
        z-index: 1;
    }
}

@assets screen and (min-width: 480px) {
    .contenedorCarrito {
        position: fixed;
    }
}