:root {
    --font-size-main: 24px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;

}

& a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.733);

}

& a:hover {
    color: burlywood
}

body {
    display: flex;
    flex-direction: column;
    background-color: #1d1b1b;
    min-height: 100vh;
}


header nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    height: 8em;

}

& div {
    margin-right: 10em;
}


header nav img {
    height: 2rem;
}

#logo {
    height: 8em;
}

header nav div {
    display: flex;
    align-items: center;
    gap: 1em;

}

#contenedorPrincipal{
    display: flex;
    align-self: center;
    background: red;
    min-width: 80vw;
    min-height: 71.9vh;
}


/* FOOTER */
footer {
    background-color: black;
    height: 8em;
    margin-top: auto;
    color: rgba(255, 255, 255, 0.733);

}
/*Query*/

@media screen and (min-width: 375px) {
    .contenedorCarrito {
        margin-left: 8em;
        position: fixed;
        border-radius: 2em;
    }

    header nav {
        z-index: 1;
    }
}

@media screen and (min-width: 480px) {
    .contenedorCarrito {
        position: fixed;
    }
}