:root {
    --font-size-main: 24px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    color: rgba(255, 255, 255, 0.733);

}

& a {
    text-decoration: none;
}

& a:hover {
    color: burlywood
}

body {
    display: flex;
    flex-direction: column;
    background-color: #1d1b1b;
    height: 100%;
}

#contenedorPrincipal{
    margin: 1em auto 1em auto;
    background-color: white;
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:url(../media/img/fondo.jpeg);


}

main span {
    font-size: 0.8em;
}


header nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
    height: 8em;

}

header nav img {
    height: 2rem;
}

#logo {
    height: 8em;
}

#carritoDeCompras {
    filter: invert(1);

}

header nav aside {
    display: flex;
    align-items: center;
    gap: 1em;
}

#gamesCounter {

    background-color: blueviolet;
    border-radius: 100%;
    display: inline-block;
    width: 1em;
    aspect-ratio: 1;
    text-align: center;
    line-height: 1;
    position: absolute;

}


/* FOOTER */
footer {
    background-color: black;
    height: 8em;
    margin-top: auto;
}