main span {
    font-size: 0.8em;
}


#contenedorPrincipal {
    height: 100%;
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/img/fondo.jpeg);
    color: rgba(255, 255, 255, 0.733);



}

#contenedorJuegos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;

}


.cardsCatalogoJuegos {

    max-width: 15em;
    box-shadow: 0px 0px 5px 0px rebeccapurple;
    background-color: rgba(81, 76, 76, 0.7);
    border-radius: 20px;
    transition: 0.2s ease-in-out;
    margin: 3em 0 3em 0;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.cardsCatalogoJuegos:hover {
    translate: 0 -10px;
    box-shadow: 0px 10px 5px 0px rebeccapurple;

}

.cardsCatalogoJuegos h2 {
    font-size: 1em;
    color: white;
    margin: 2em 0 .8em 0;

}

.cardsCatalogoJuegos p {
    margin: auto 1em .4em 1em;
    text-align: left;
}

.cardsCatalogoJuegos .precios {
    margin-top: auto;

    font-size: 1.2em;
    color: rgb(108, 219, 17);
    font-weight: bold;

    & span {
        text-decoration: line-through;
        color: red;
    }
}


.cardsCatalogoJuegos img {
    aspect-ratio: .7;
    width: 100%;
    border: solid rgb(153, 0, 255) .1em;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}


.cardsCatalogoJuegos button {

    background-color: #494747;
    width: 100px;
    height: 3.5em;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin: .5em auto 2em auto;
    color: rgba(255, 255, 255, 0.733);

}

.cardsCatalogoJuegos button:hover {
    background-color: green
}