:root{
    --font-size-main: 24px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;

} & a{
    text-decoration: none;
    color: white;
}& a:hover{
    color:burlywood
}
body{
    display: flex;
    flex-direction: column;
    background-color: #242424;
}
 main{
    background-color: aliceblue;
    width: 80vw;
    margin: auto;
} 
main span{
    font-size: 0.8em;
}


header nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
    height: 8em;
    
}
header nav img {
    height: 2rem ;}

#logo{
    height: 8em;
}    

#carritoDeCompras{
    filter: invert(1);
    
} 

header nav aside{
    display: flex;
    align-items: center;
    gap: 1em;
}
#gamesCounter{
    
    background-color: blueviolet;
    border-radius: 100%;
    display: inline-block;
    width: 1em;
    aspect-ratio: 1;
    text-align: center;
    line-height: 1;
    color: white;
    position: absolute;

}

/* FOOTER */
footer{
    background-color: black;
    height: 8em;
    margin-top: auto;
}